.filters {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters button {
    font: 400 1rem / 1.5 "Lato-Regular", sans-serif;
    padding: 10px 25px;
    margin: 0px 5px;
    color: $white-ccc;
    border-radius: 1rem;
    border: none;
    background-color: #121212;

    position: relative;
    outline: none;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: linear-gradient(
            45deg,
            #00ff99,
            #32cd32,
            #00bfff,
            #7cfc00,
            #8a2be2,
            #00ff99,
            #32cd32,
            #00bfff,
            #7cfc00,
            #8a2be2
        );
        background-size: 500%;
        z-index: -1;
        animation: animate 30s ease infinite;
        opacity: 0.2;
        border-radius: 1rem;

        transition: opacity 0.3s ease;
    }

    &:after {
        filter: blur(25px);
    }

    transition: 150ms, color 0.2s ease-in;

    &:hover {
        color: $accent;
    }

    @include breakpoint(md) {
        padding: 5px 12px;
        margin: 5px;
    }
}

.filters button:hover:before,
.filters button:hover:after {
    opacity: 0;
}

.filters button.is-checked {
    background-color: #ccc;
    color: #121212;
    font-weight: bold;
}
