// Fonts
// $font-main: "Raleway", sans-serif;
// $font-accent: "Playfair Display", serif;
// $font-secondary: "Roboto", sans-serif;

// Colors
$dark: #242b33;
$accent: #d4c17f;
$white-ccc: #ccc;
// $footer-bg: #2d343c;
// $placeholder: #bebebe;
// $muted: #e7e7e7;

// Media
// $tablet: 959px;

$fz-64-48: calc(48px + (64 - 48) * ((100vw - 320px) / (1140 - 320)));
$fz-48-32: calc(32px + (48 - 32) * ((100vw - 320px) / (1140 - 320)));
$fz-24-20: calc(20px + (24 - 20) * ((100vw - 320px) / (1140 - 320)));
$fz-18-14: calc(14px + (18 - 14) * ((100vw - 320px) / (1140 - 320)));
$fz-16-14: calc(14px + (16 - 14) * ((100vw - 320px) / (1140 - 320)));

$main-clr: #131735;
$dark-clr: #222;
$big-fz: calc(25px + (45 - 25) * ((100vw - 300px) / (1500 - 300)));
$medium-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1500 - 300)));
$small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1500 - 300)));
$box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.5);
$text-color: #ccc;
